   <div class="action">
  <div class="groupicon"></div>
  <H1 class="title">TAKEACTION</H1>
  <H2>Join Us on December 19th, 2016</H2>   
<p>
The electoral college will meet at statehouses across the country on December 19th, 2016. This is where Electors will cast their official votes for the next President of the United States. Join us at your statehouse in your state Capitol to ensure that the next President of the United States is a new leader that We the People can all call our President 
</p>
<hr>
  <H2>When</H2>
	<p>December 19th, 2016 from 9AM-2PM</p> 
<hr>

  <H2>Where</H2>
	<p>Electoral College</p> 
	<p>Your Statehouse</p> 
	<p>Your Statecapital</p> 
<hr>  
    <H2>Where</H2>
    <select class="dropdown">
		  <option value="">FIND STATE</option>
		  <option value="us">US</option>
		  <option value="ay">AY</option>
		  <option value="tx">TX</option>
	</select>
	<p>Electoral College</p> 
	<p>Your Statehouse</p> 
	<p>Your Statecapital</p> 
	<hr>
  <h2>Donate towards the cause</h2>
  <p>Please enter an amount to donate</p> 
  <p>Any amount wil help us spread our message</p> 

  <div class="donate">
	  <span class="currencyinput">$<input type="text" class="currency" name="currency">
	  </span>
	  <input type="button" value="SUBMIT"  class="currency_btn"/>
  </div>

	<h2>Share our initiative</h2>
	<p>You can also help sharing by out initiative</p> 
	<H1>#HamiltonElectors</H1> 
	<div class="footer_share">
		<span class="twitter_share"></span>
		<span class="facebook_share"></span>
	</div>
  </div>  
