   <div class="container faq">
  <div class="faqicon"></div>
  <H1 class="title">FAQ'S</H1>  
  <H2>What is the Electoral College?</H2>   
<p>
It’s a system created by our Founding Fathers to elect our President. Every Presidential cycle 538 Electors from all 50 states cast a vote for the President based on the will of the people -- aka your vote on Election Day. It was created, in part, as a final safeguard against an unfit candidate becoming President, and you have the power to encourage them to do just that. 
</p>

<H2>So...can Electors change their vote?</H2>
<p>Yes. Electors have a Constitutional right to vote their conscience, especially in extraordinary situations where the welfare of our nation is at risk.</p>

<p>Most states don’t have laws that bind Electors, and in the few places they do exist, the penalties are usually a small fee.  Also, no laws for Electors have ever been upheld in court.</p>

<p>If no Presidential candidate receives 270 Electoral College votes, then the election of President is sent to the United States House of Representatives, which has happened twice in our nation’s history.
</p>

<H2>What do we want to achieve?</H2>
<p>Our goal is simple: persuade 37 Electors to either change their vote from Donald Trump to another qualified individual, or abstain from voting altogether.</p> 

<p>This will trigger a vote among the US House of Representatives on who will be our next President. With a new vote comes a new opportunity for new leadership.</p>

<p>We urge them to select an Reasonable Republican who does not have the current nominee’s questionable ethics, lack of policy knowledge and lack of relevant experience.</p>

<p>We urge our fellow Electors to unify behind a President who’s fit to lead and to pick the best person for the job of Commander-in-Chief.</p>

<H2>Why now if never before?</H2>
<p>Actually, this has happened twice before in our nation’s history, where the House of Representatives decided the Presidential election.</p>

<p>The Electoral College is part of the electoral process in America, for better or worse, and it’s intended to be a Constitutional safeguard against men who are unfit to rule rising to the highest political office in the nation.</p>

<p>The Constitution was designed with checks and balances for a reason.</p>

<H2>What were 3 tests that the Founding Fathers used to judge the “fitness” of a President?</H2>
<H4>1.	Election of a Qualified Person (Read More) </H4>
<p>As Hamilton stated [in Federalist Papers 68], the purpose was to ensure that “…the office of President will never fall to the lot of any man who is not in an eminent degree endowed with the requisite qualifications.”</p>

<H4>2.	Preventing Election of a Demagogue or Charlatan  (Read More) </H4> 
<p>The Founders did not want a person who would play on public fears and temporary passion to hold the office.  Hamilton again:   “Talent for low intrigue…may alone suffice to elect a man… but it will require other talents and merit to establish him in the esteem and confidence of the whole Union.”</p>

<H4> 3.	Preventing Election of a President under Foreign Influence (Read More) </H4> 
<p>The Founders feared attempts by other countries to orchestrate the election of a person under their influence.  The Founders believed, as Hamilton put it, that the decentralized, layered electoral college guarded against foreign nations “…raising a creature of their own to the chief magistry” of the United States.</p>


<H2>How does Trump fail the Founding Fathers’ tests and why should Electors vote their conscience in 2016?</H2>

<li>Trump as Commander in Chief is a clear and present danger to our national security.</li>

<li>50 Republicans who are national security officials and foreign policy experts co-signed a letter opposing the election of Trump, because he is “not qualified to be President and Commander in Chief,” which is the most important job of the Presidency.  Also, prominent Republican Senators have expressed growing concerns that our Presidential election was compromised by foreign interests, likely Russia, who were interacting with the Trump campaign throughout the election.</li>

<li>Trump may create a crisis for the Constitution, the country, and the economy.
Trump may be impeached in the first year of his Presidency by a Republican-controlled House of Representatives, especially since he is dismissive of financial conflicts of interests that are already compromising the Oval Office.  “Throughout his life, Trump has played fast and loose with the law,” and he is currently under investigation for breaking the Cuban embargo, sexual  assault, and racketeering and corrupt practices (RICO).</li>

<li>Trump is a dangerous demagogue who may do permanent damage to the Bill of Rights.
A demagogue triggers the emotions of the masses, attacks elites, and breaks established rules of governance to amplify their own political power.  From the Bully Pulpit of the Presidency, Trump has promised to imprison political opponents and silence journalists for engaging in First Amendment activities, to deport natural born American citizens, and to commit acts that are defined by American law as illegal and unconstitutional war crimes.</li>  





<H2>Isn’t this undemocratic?</H2>

<p>Well, in a purely democratic election system, <a href="http://www.theatlantic.com/politics/archive/2016/11/clintons-popular-vote-lead-will-grow-and-grow/507455/">the winner of the popular vote </a>would become President, but the Founding Fathers created the Electoral College as a Constitutional check and balance against someone like Trump getting into the White House.</p>

<p>Electors swear an oath to protect and defend the US Constitution prior to casting their votes at the Electoral College. Their oath to preserve and defend the Constitution against all enemies, foreign or domestic, comes before all other commitments.</p> 

<p>If an Elector thinks a candidate is unfit to lead, they can follow their conscience and vote for someone else (or abstain from voting) just like any citizen can on Election Day.  This is why the Founding Fathers created this process in the first place.</p>



<div class="mar_bot"></div>