<div class="container home">
<H1 class="title mar_top">WE'D LOVE TO HEAR FROM YOU</H1>

<table cellspacing="10" class="table">
	<tr><td>
	<input type="text" placeholder="First Name" class="textbx" name="">
	</td>
	<td>
	<input type="text" placeholder="Last Name" class="textbx" name="">	
	</td>
	</tr>
	<tr>
	<td colspan="2">
	<input type="text" placeholder="Email Address" class="textbx" name="">
	</td>
	</tr>
	<tr>
	<td colspan="2">
	<textarea rows="4" cols="50" placeholder="Message" class="textbx" name=""></textarea>
	</td>
	</tr>
	<tr>
	<td colspan="2">
	<input type="button" class="btn_submit" Value="SUBMIT" name="">
	</td>
	</tr>
</table>
	
		