   <div class="container home">
  <H1 class="title">WHO WE ARE</H1>
<blockquote>
The process of the Electoral College affords a moral certainty, that the office of the President will never fall to the lot of any man who is not in an eminent degree endowed with the requisite qualifications.”
</blockquote>
<p class="mar_bot">
-Alexander Hamilton, Federalist Paper #68
</p>
 
  <H1>PRESS</H1>

<div class="video">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/meLJ7-mR_NM" frameborder="0" allowfullscreen></iframe>
</div>
<p>
#HamiltonElectors are citizens participating in the electoral process who believe that Presidential Electors are responsible for protecting our nation’s future and ensuring that the next President is the best person for the job.
</p>
<p>
We honor Alexander Hamilton’s vision that the Electoral College should, when necessary, act as a Constitutional failsafe against those lacking the qualifications from becoming President. In 2016 we’re dedicated to putting political parties aside and putting America first. We encourage Electors from both red and blue states to unite behind a Reasonable Republican candidate for the good of the nation.
</p>

<hr>

<p>Please show your support for these courageous citizens by sharing their message, and your concerns about the current nominee, using #HamiltonElectors. America should have the best person for the job as President.
</p>


	<p>Follow us</p> 
	<div class="footer_share">
		<span class="twitter_share"></span>
		<span class="facebook_share"></span>
	</div>
  </div>  
