<div class="footer">
<div>
	<input type="text" placeholder="Email Address" class="textbox1" name="">
	<input type="text" placeholder="Zip" class="textbox2" name="">
	<input type="button" class="button" Value="I'm In" name="">
</div>

	<h2>Share our initiative</h2>
	<p>You can also help sharing by out initiative</p> 
	<H1>#HamiltonElectors</H1> 
	<div class="footer_share">
		<span class="twitter_share"></span>
		<span class="facebook_share"></span>
	</div>
</div>