<!-- {% block search %}
  {% include "shared/search_box" %}
{% endblock %} -->
<div class="header_left">
</div>
<div class="header_right">
<span class="header_right__text">Follow Us</span>
<span class="twittershare"></span>
<span class="facebookshare"></span>
</div>
<div class="header">
{% block menu %}
  {% include "shared/menu" %}
{% endblock %}
</div>
